<div class="row">
  <div class="col">
    <section class="about_header">
      <h3>MEET OUR TEAM</h3>
      <p>Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management. Integrated planning tools help you keep track of projects and stay organized.Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management. </p>
    </section>
  </div>
</div>
<div class="row employee_info">
              <div class="col-lg-4 col-md-6">
                <div class="avatar">
                  <img src="Employees/mask.jpg">
                </div>
              </div>
              <div class="col-lg-8 col-md-6">
                <div class="row">
                  <div class="col">
                    <h4>ELON MUSK</h4>
                    <p>.Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management.Streamline project, resource, and portfolio management with Microsoft Project and Portfolio ManagementStreamline project, resource, and portfolio management with Microsoft Project and Portfolio Management.Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management</p>
                    <p><a href="">Twiter</a> <a href="">Facebook</a> <a href="">Dribble</a> <a href="">Odnoklasniki</a> </p>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col">
                    <div class="employee_list">
                      <div class="employee_list_elem"> 
                        <img src="Employees/mask.jpg">
                      </div>
                    </div> 
                  </div>
                  <div class="col">
                    <div class="employee_list">
                      <div class="employee_list_elem"> 
                        <img src="Employees/mask.jpg">
                      </div>
                    </div> 
                  </div>
                  <div class="col">
                    <div class="employee_list">
                      <div class="employee_list_elem"> 
                        <img src="Employees/mask.jpg">
                      </div>
                    </div> 
                  </div>
                  <div class="col">
                    <div class="employee_list">
                      <div class="employee_list_elem"> 
                        <img src="Employees/mask.jpg">
                      </div>
                    </div> 
                  </div>
                </div>
              </div>
            </div>