<div class="row">
  <div class="col">
    <section class="about_header">
      <h3>MEET OUR TEAM</h3>
      <p>Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management. Integrated planning tools help you keep track of projects and stay organized.Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management. </p>
    </section>
  </div>
</div>
