<div class="row">
    {{#each model.reviews as |review|}}
        <div class="col-md-6 col-sm-12">
            <section class="review">
                <span>
                     <h4>{{review.name}}</h4>
                     <button {{action 'delReview' review.id }}>delete this record</button>
                </span>
                <p>{{review.review}}</p>
            </section>
        </div>
    {{/each}}
</div>
  
{{outlet}}