<div class="row">
  <div class="col">
    <section class="main_header">
      <h3>FEATURE PRODUCT</h3>
      <div class="portfolio_description"><p>Streamline project, resource, and portfolio management with Microsoft Project and Portfolio Management.</p></div>
    </section>
  </div>
</div>

<section class="portfolio_nav">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      {{#link-to "portfolio" (query-params type="") class="nav-link"}}All{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "portfolio" (query-params type="print tamplate") class="nav-link"}}Print template{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "portfolio" (query-params type="web tamplate") class="nav-link"}}Web template{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "portfolio" (query-params type="user interface") class="nav-link"}}User interface{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "portfolio" (query-params type="mock up") class="nav-link"}}Mock up{{/link-to}}
    </li>
  </ul>
</section>

<article class="portfolio_examples">
  <div class="row no-gutters">
    {{#photo-swipe items=model history=false as |photoswipe|}}
      {{#each model as |portfolio index|}}
        {{!-- <div class="col-lg-3 col-md-6 col-sm-6"> --}}
          <section class="exemple">
            <img src={{portfolio.src}} alt="Example" {{action photoswipe.actions.open (hash index=index)}}/>
          </section>
        {{!-- </div> --}}
      {{/each}}
    {{/photo-swipe}}
  </div>
</article>

