<div class="row">
  <div class="col-md-6 col-sm-12">
    <section class="form_rewiews">
      <form>
        <div class="form-group">
          <div class="row">
              <div class="col">
                <input type="email" class="form-control form_elem" id="exampleFormControlInput1" placeholder="Your name">
              </div>
          </div>
          <div class="row">
            <div class="col">
              <textarea class="form-control form_elem form_message" id="exampleFormControlTextarea1" rows="3" placeholder="Your review"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-primary form_elem send_message">Send feedback</button>
            </div>
          </div>
        </div>
    </form>
    </section>
  </div>
</div>
<div class="row">
  {{#each model as |review|}}
    <div class="col-md-6 col-sm-12">
        <section class="review">
          <h1>{{review.name}}</h1>
            <p>{{review.review}}</p>
          </section>
    </div>
  {{/each}}
</div>